body {
    background-color: rgba(147,224,255,1);
    color: black;
}
.withborder {
    border-style: double;
    border-color: black;
}
.tred {
    color: red;
}
.shift2right {
    float: right;
}
.shift2left {
    float: left;
}
.clr {
    clear: left;
}
.clearfix {
    overflow: auto;
}
.main-container {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
.record-container{
    border-top:double;
    padding-top:3%;
    padding-bottom:30%;
    padding-left:10%;
    padding-right:10%;
}
.class-container {
    margin-top: -1px;
    padding-top: 4%;
    padding-bottom: 3%;
    padding-left: 16%;
    padding-right: 16%;
    font-size:30px;
    text-align: center;
}
.word-container {
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5%;
    font-size:30px;
    text-align: center;
}
.explain-container {
    margin-left: 10%;
    margin-right: 10%;
}
